.todo-container {
  width: 400px;
  margin: 40px auto;
}

.input-text {
  all: unset;
  width: 200px;
  margin-bottom: 10px;
}

.input-button{
  all: unset;
  float: right;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid lavenderblush;
  padding: 5px 15px;
  transition: .2s ease-in-out;
}

.input-button:hover {
  background-color: lavenderblush;
  color: #41404a;
}

ul{
  display: block;
  margin-top: 0px;
  padding: 0;
  list-style: none;
}

ul li {
  color: aliceblue;
  margin-bottom: 20px;
}

ul li button {
  all: unset;
  float: right;
}